.categories {
    padding-top: 150px;
    margin: 20px;
}
.categories h1{
    font-size: 40px;
}
.cards{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
}
.cards img{
    width: 270px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 5px 5px gray;
}