.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo span{
    font-size: 50px;
    font-weight: 900;
    background: linear-gradient(to right, blue, rgb(235, 19, 246));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.search-bar {
    position: relative;
}
.search-input {
    width: 500px;
    height: 50px;
    border: 2px inset rgb(0, 153, 255);
    border-radius: 10px;
    padding: 0 10px;
}
.search-input:focus {
    width: 500px;
    height: 50px;
    border: 4px outset rgb(230, 0, 255);
}
.search-icon {
    position: absolute;
    font-size: 30px;
    color: gray;
    right: 20px;
    top: 10px;
}
.desktop-menu {
    display: flex;
    justify-content: space-between;
    width: 270px;
}
.menu-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-link .icon {
    font-size: 30px;
}
.menu-link .iconHeart {
    font-size: 30px;
}
.menu-link:hover {
    color: rgb(49, 32, 156);
}